<!DOCTYPE html> 
<html>
    <head>
        <link rel="stylesheet" href="google-maps-api.css">

        <title>Google maps</title>
    </head>
    <body>
        <section class="google-maps-section">
            <div id="map"></div>
                Hee hallo!

                
            <script src="../node_modules/jquery/dist/jquery.min.js"></script>
            <script src="https://maps.googleapis.com/maps/api/js?v=3&key=GOOGLE-MAPS-API"></script>
            <script src="../public/js/google-maps-api.js"></script>
        </section>
    </body>
</html>