<!DOCTYPE html> 
<html>
    <head>
        <link rel="stylesheet" href="/public/stylesheets/google-maps-api.css">

        <title>Google maps</title>
    </head>
    <body>
        <section class="google-maps-section">
            <div class="options-box">
                <h1>Where would you go?</h1>
                <div>
                    <input id="show-listings" type="button" value="Show markers">
                    <input id="hide-listings" type="button" value="Hide markers">
                </div>
            </div>
            <div id="map"></div>
        </section>

            <script src="../node_modules/jquery/dist/jquery.min.js"></script>
            <script src="https://maps.googleapis.com/maps/api/js?v=3&key=YOUR_API_KEY"></script>
            <script src="../public/js/google-maps-api.js"></script>
    </body>
</html>