<!-- Google Maps APIs Lesson 2 -->
<!-- https://classroom.udacity.com/courses/ud864/lessons/8306134879/concepts/83070348810923# -->

<!DOCTYPE html> 
<html>
    <head>
        <link rel="stylesheet" href="/public/stylesheets/google-maps-api.css">

        <title>Google maps</title>
    </head>
    <body>
        <section class="google-maps-section">
            <div class="options-box">
                <h1>Where would you go?</h1>
                <div>
                    <input class="button" id="show-listings" type="button" value="Show markers">
                    <input class="button" id="hide-listings" type="button" value="Hide markers">
                    <hr>
                    <span class="text">Select where to go!</span>
                    <br>
                    <input class="button" id="toggle-drawing" type="button" value="Drawing Tools">
                </div>
                <hr>
                <div>
                    <input class="txt-input" id="zoom-to-area-text" type="text" placeholder="Enter your favorite area!">
                    <input class="button" id="zoom-to-area" type="button" value="Zoom">
                </div>
            </div>
            <div id="map"></div>
        </section>

            <script src="../node_modules/jquery/dist/jquery.min.js"></script>
            <script src="https://maps.googleapis.com/maps/api/js?libraries=drawing,geometry&key=YOUR-GOOGLE-API&v=3"></script>
            <script src="../public/js/google-maps-api.js"></script>
    </body>
</html>