.google-maps-section {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #1e1e1e;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 50px 0;

    #map {
        height: 500px;
    }
    #pano {
        width: 200px;
        height: 200px;
    }

    .options-box {
        height: 250px;
        vertical-align: middle;
        float: left;
        width: 500px;

        .button {
            padding: 8px;
            margin: 3px;
            box-shadow: 0 0 5px #eeeeee;
            background-color: #3ec7c9;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .button:hover {
            box-shadow: 1px 1px 6px #888888;
            background-color: #3ec7c9;
        }

        .txt-input {
            width: 200px;
            padding: 10px;
        }
    }


}